<% layout("/layouts/boilerplate.ejs") %>
<div class="row mt-3">
  <div class="col-8 offset-2">
    <h3>Edit this listing...</h3>
    <form method="POST" action="/listing/<%=listing._id%>?_method=PUT" enctype="multipart/form-data" novalidate class = "needs-validation">
      <div class="mb-3 mt-3">
        <label for="title" class="form-label m-0" >Title</label>
        <input name="listing[title]" value="<%=listing.title%>" type="text" class="form-control m-0" required>
      </div>

      <div class="mb-3">
        <label for="description" class="form-label m-0"required>Description</label>
        <textarea name="listing[description]" type="text" class="form-control m-0" required><%=listing.description%></textarea>
      </div>

     <div class="mb-3">
        <img src="<%= originalImgUrl %>">
     </div>

      <div class="mb-3">
        <label for="image" class="form-label m-0"> Upload New Image </label>
        <input name="listing[image]"  type="file" class="form-control m-0">
      </div>

      <div class="row">
        <div class="mb-3 col-md-4">
          <label for="price" class="form-label m-0"required>Price</label>
          <input name= "listing[price]" value="<%=listing.price%>" type="number" class="form-control m-0" required>
        </div>

        <div class="mb-3 col-md-8">
          <label for="country" class="form-label m-0"required>Country</label>
          <input name="listing[country]" value="<%=listing.country%>" type="text" class="form-control m-0" required>
        </div>
      </div>
      
      <div class="mb-3">
        <label for="location" class="form-label m-0"required>Location</label>
        <input name="listing[location]" value="<%=listing.location%>" type="text" class="form-control m-0" required>
      </div>
      
      <button class="btn btn-dark edit-btn mb-3 mt-3">Edit</button>
    </form>
  </div>
</div>